@model ARM_Hotel.Models.Photo

@{
    ViewBag.Title = "Детальная информация о фотографии";
}

<h2>Подробная информация о фотографии</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apartment.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photography)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку фотографий", "Index")
</p>
