@model IEnumerable<ARM_Hotel.Models.Photo>

@{
    ViewBag.Title = "Фотографии";
}

<h2>Список фотографий</h2>

<p>
    @Html.ActionLink("Добавить новую фотографию", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apartment.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photography)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photography)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
